<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Git Good</title>
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    
    <body>
       
        <div class="container">
            <div class="row">
                <div class="col-md-12 ml-auto mr-auto">
                    <header class="text-center mb-5">
                        <h1 class="h1">Bootcamp Leg 4 - Git Good</h1>
                        <p>Get Good at Using Git</p>
                    </header>
                    <pre style="font-family: 'Courier New', Courier, monospace;">
        
      .rU22jL:       i             i   .    iY5UIsr.        :   .rJ5u      isU21jr.          .vJIU5sv.          :vU22Usr.                    
    ig5r.. .:ud5     RZ          :Qr  .B  Igji....rPD:      B  DP7..     bPL:. ..7PZ.      .RIi.....iXQ:      7gsi.. .:vEg                   
   EZ          vB     1Q        LQ.   .R B7         .Bu     BrQ.       iB:         .Bv    .B.         .B.    rB          7B                  
  EX            .B     :B:     Ed      BM.            Br    BB        :B             Bi   Yg           JB    B:           Bv                 
 :B              X1      BJ   BL       Qi              B    Br        B               B   .B.           .    vB           .                  
 Dr              .B       SJ.Q.        B               B:   Q        :B               B.   .Qqvi.             vQIv:                          
 QMuKKqXqKqKPXPSSPg        QB.        .Q               Pi   B        iBs5KqXPKPXqKqXS2B.      iYXqPIY:          .iuSPXI7:                          
<!-- 
B:                       Zr Qr        B               B:   B        iM                            .:Lbg              .iJgU                  
 uK              :r     :Qi   gq       B               B    B         B               u   7            iB   ::            ED                 
  B              Bi    JQ      1Q      BI             Z2    B         D1             2B   B             Bi  7B             B                 
  iB            Q5    gq        :Br   .DiP           Kg     B          B7           7B    ED            B    Br           LQ                 
   :Q5:      .sR7   .B7           Qq  .B ig1.     .7R1      B.          ZZi      .rEP      EMr       :2B.     BP:       :dg                  
     iSSKU25K1i     S.             I: .B   r5XS12X57        U            .15P1I1q27         .vSXUU2qqUr        :1Sq1UIP51.                   
                                      .B                                                                                                     
                                      .B                                                                                                     
                                      .B                                                                                                     
                                       u                                                                                                      
-->
                    </pre>
                </div>
            </div>
        </div>
    
        <!-- jQuery and Bootstrap Bundle (includes Popper) -->
        <script src="/js/jquery.slim.min.js"></script>
        <script src="/js/bootstrap.bundle.min.js"></script>
    </body>
    
    </html>